
<%= form_for(:forgot, url: forgot_path) do |f| %>
    <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
    </div>

  
    <div class="field">
        <%= f.submit "Generate password", class: "btn btn-primary form-control" %>
    </div>
<% end %>