<div class="row">
<div class="col-md-1 col-md-offset-11">
<%= button_to 'Back', event_path(@team.event), method: "get" %>
</div>
</div>
<div style="text-align:center">
<div style="margin:auto;width:300px;text-align:left">
<h1>Team basic info</h1>

<%= render 'formbasicinfo', team: @team, dynamic_url: 'createbasicinfo' %>


</div>
</div>