<h4>Greetings from NITC Sports Portal, <%= @user.name %></h4>
  <p>
    There was a request to change your account password.<br>
  </p>
  <p>
    Your new password is -  "<%= @pass %>"<br>
  </p>

  <p>Kindly login to the portal with the new password. </p>
<p>Have a great day!</p>

<p><h6>Please do not reply to this email; this address is not monitored. 
  Please use our contact page.</h6></p>