<h4>Greetings from NITC Sports Portal, <%= @team.poc %></h4>
  <p>
    Travel plan of your team "<%= @team.name %>" has been rejected.<br>
  </p>
 
  <p>
    Remarks from approver: "<%= @team.instructionsfromadmin %>".<br>
  </p>

  <p>Kindly login to the portal for updating travel plan and resubmit. </p>
<p>Thanks for joining and have a great day!</p>

<p><h6>Please do not reply to this email; this address is not monitored. 
  Please use our contact page.</h6></p>