<h3>Welcome to NITC Sports Portal, <%= @team.poc %></h3>
  <p>
    You have successfully signed up to NITC Sports Portal,
    your team name is: <%= @team.name %>.<br>
  </p>
<p>Thanks for joining and have a great day!</p>

<p><h6>Please do not reply to this email; this address is not monitored. 
  Please use our contact page.</h6></p>