    
    <div>
     <p style="" class="text-info"> <strong> Latest Events </strong> <hr> </p>
      <% event_groups.each do |eventgroup| %>
      <% if eventgroup.enddate>= today %>
      <p class="nav-link nav text-secondary"><%= link_to eventgroup.name, eventgroup %></p>
      <% end %>
      <% end %>
    </div>
    <hr>


    <div>
     <p style="" class="text-info" > <strong> Latest News </strong> <hr></p>
     <% all_news.each do |newsfile| %>
      
      <p class="text-truncate text-secondary"><%= link_to newsfile.title, newsfile %> </p>
    <% end %>
    </div>


    <hr>
    <div>
    <% dloads=false %>
     <p style="" class="text-info" > <strong> Downloads </strong> <hr></p>
      
      <% all_downloads.each do |download| %>
        <% dloads=true%>
        <p class="text-truncate text-secondary"><%= link_to download.title, url_for(download.attachfile), target: :_blank %> </p>
      <% end %>
      <% if !dloads %>
         <p><small class="text-muted"> No files to Download</small></p>
      <%end %>

      </p>

    </div>

    <hr>
    <div>
     <p style="" class="text-info" > <strong> Past Events </strong> <hr></p>
      <% event_groups.each do |eventgroup| %>
      <p>  <% if eventgroup.enddate< today %> </p>
      <p class="text-secondary"><%= link_to eventgroup.name, eventgroup %></p>
      <% end %>
      <% end %>

    </div>
    