    <div>
     <p style="" > <strong> Latest Events </strong> <hr> </p>
      <% event_groups.each do |eventgroup| %>
      <% if eventgroup.isactive%>
      <p><%= link_to eventgroup.name, eventgroup %></p>
      <% end %>
      <% end %>
    </div>
    <hr>


    <div>
     <p style="" > <strong> Latest News </strong> <hr></p>
     <% all_news.each do |newsfile| %>
      
      <p><%= link_to newsfile.title, newsfiles_path %> </p>
    <% end %>
    </div>


    <hr>
    <div>
     <p style="" > <strong> Past Events </strong> <hr></p>
      <% event_groups.each do |eventgroup| %>
      <p><% if !eventgroup.isactive%>
      <p><%= link_to eventgroup.name, eventgroup %></p>
      <% end %></p>
      <% end %>

    </div>
    