   <div class="well text-center" style="max-height:100vh;min-height:70vh;margin-left:0px;">
        <div class="text-center" > <strong class="text-info"> Latest Events </strong>  
    <div>
     <hr>
      <% event_groups.each do |eventgroup| %>
      <% if eventgroup.enddate>= today %>
      <p class="nav-link nav text-secondary"><%= link_to eventgroup.name, eventgroup, :style=> 'color:#6c757d;'%></p>
      <% end %>
      <% end %>
    </div>
    <hr>


    <div>
     <div style="" class="text-info" > <strong> Latest News </strong> <hr></div>
     <% all_news.each do |newsfile| %>
      
      <p class="text-truncate text-secondary"><%= link_to newsfile.title, newsfile, :style=> 'color:#6c757d;' %> </p>
    <% end %>
    </div>


    <hr>
    <div>
    <% dloads=false %>
     <div style="" class="text-info" > <strong> Downloads </strong> <hr></div>
      
      <% all_downloads.each do |download| %>
        <% dloads=true%>
        <p class="text-truncate text-secondary"><%= link_to download.title, url_for(download.attachfile), :style=> 'color:#6c757d;', target: :_blank %> </p>
      <% end %>
      <% if !dloads %>
         <p><small class="text-muted"> No files to Download</small></p>
      <%end %>

      </p>

    </div>

    <hr>
    <div>
     <div style="" class="text-info" > <strong> Past Events </strong> <hr></div>
      <% event_groups.each do |eventgroup| %>
      <p>  <% if eventgroup.enddate< today %> </p>
      <p class="text-secondary"><%= link_to eventgroup.name, eventgroup, :style=> 'color:#6c757d;' %></p>
      <% end %>
      <% end %>

    </div>
    
          </div>
      </div>