    
    <div>
     <p style="" class="text-info"> <strong> Latest Events </strong> <hr> </p>
      <% event_groups.each do |eventgroup| %>
      <% if eventgroup.enddate>= today %>
      <p class="nav-link nav "><%= link_to eventgroup.name, eventgroup %></p>
      <% end %>
      <% end %>
    </div>
    <hr>


    <div>
     <p style="" class="text-info" > <strong> Latest News </strong> <hr></p>
     <% all_news.each do |newsfile| %>
      
      <p class="text-truncate"><%= link_to newsfile.title, newsfile %> </p>
    <% end %>
    </div>


    <hr>
    <div>
     <p style="" class="text-info" > <strong> Downloads </strong> <hr></p>
      <p><small class="text-muted"> No files to Download</small></p>
      <% all_downloads.each do |download| %>
      
        <p class="text-truncate"><%= link_to download.title, download %> </p>
      <% end %>


      </p>

    </div>

    <hr>
    <div>
     <p style="" class="text-info" > <strong> Past Events </strong> <hr></p>
      <% event_groups.each do |eventgroup| %>
      <p>  <% if eventgroup.enddate< today %> </p>
      <p><%= link_to eventgroup.name, eventgroup %></p>
      <% end %>
      <% end %>

    </div>
    