    <div>
     <p style="padding-left: 10%;" > <strong> Latest Events </strong> <hr> </p>
      <% event_groups.each do |eventgroup| %>
      <p><%= link_to eventgroup.name, eventgroup %></p>
      <% end %>
    </div>
    <hr>


    <div>
     <p style="padding-left: 10%;" > <strong> Latest News </strong> <hr></p>
     <% all_news.each do |newsfile| %>
      
      <p><%= newsfile.title %></p>
    
    <% end %>
    </div>


    <hr>
    <div>
     <p style="padding-left: 10%;" > <strong> Past Events </strong> <hr></p>
      <% event_groups.each do |eventgroup| %>
      <p><%= link_to eventgroup.name, eventgroup %></p>
      <% end %>

    </div>
    