<% provide(:title, "About") %>
<!-- <div class="row content">
    <div class="col-sm-2 sidenav">
     <%= render 'events' %>

    </div>

    <div class="col-sm-8 text-left">  -->
      <h1>About <small> NITC SportsPortal </small> </h1>
      <hr>
      <% all_contents.each do |editcontent| %>
      
        <p><%= editcontent.about %></p>
      
      <% end %>
      <hr>
      <h3>Test</h3>
      <p>Lorem ipsum...</p>
     <!--</div>
    
 

    -->