<% provide(:title, "About") %>
<!-- <div class="row content">
    <div class="col-sm-2 sidenav">
     <%= render 'events' %>

    </div>

    <div class="col-sm-8 text-left">  -->
      <h2><span class="text-info"><strong> About</strong></span> <small>   NITC SportsPortal</small></h2>
      <hr>
      <% all_contents.each do |editcontent| %>
      
        <p><%= editcontent.about %></p>
      
      <% end %>
      <hr>
