<% provide(:title, "About") %>
<!-- <div class="row content">
    <div class="col-sm-2 sidenav">
     <%= render 'events' %>

    </div>

    <div class="col-sm-8 text-left">  -->
      <h1>About <small> NITC SportsPortal </small> </h1>
      <hr>
      <p> Set in a picturesque landscape at the foothills of the Western Ghats, National Institute of Technology Calicut (NITC) is located about 22 kilometers north-east of Calicut City. National Institute of Technology Calicut is a Technical Institution of national importance set up by an Act of parliament(Act 29 of 2007) namely, the National Institute of technology Act 2007, which received the assent of the President of India on 5th June,2007. The provision of the Act have come into force with effect from 15th August,2007 as per Notification S.O.1384(E) dated 9th August, 2007 of the MHRD(Dept. of Higher Education),New Delhi. As per the provision of the said Act, this Institution runs on non profitable basis. 
      </p>
      <hr>
      <h3>Test</h3>
      <p>Lorem ipsum...</p>
     <!--</div>
    
 

    -->