<h2><span class="text-info"><strong> Contact</strong></span> <small>   NITC SportsPortal</small></h2>
<hr>
<% all_contents.each do |editcontent| %>
      
      <p><%= editcontent.contact %></p>
    
    <% end %>
      <hr>
