<h1><small>Contact </small> NITC SportsPortal</h1>
      <p> National Institute of Technology Calicut,
NIT Campus P.O 673 601,
Kozhikode, India
</p>
      <hr>
      <h3>Test</h3>
      <p>Lorem ipsum...</p>