<h1>Facilities<small> NITC SportsPortal</small></h1>
<hr>
<% all_contents.each do |editcontent| %>
      
      <p><%= editcontent.facilities %></p>
    
    <% end %>
 


      <hr>
      <h3>Test</h3>
      <p>Lorem ipsum...</p>