<h1>Facilities<small> NITC SportsPortal</small></h1>
<hr>
      <p>  National Institute of Technology Calicut Hostels

There are 11 hostels and few flats for men and two hostels for women. The total capacity of all hostels and flats currently available is more than 6000. There is a separate  hostel- international hostel for guest accommodation. One more mega hostel for boys is being constructed to avoid the crowd in the rooms.

All the hostels have Common room and Recreational centre where newspapers, magazines, TV’s and indoor sports/games facilities are available. Guest room facilities are available in each hostel for the relatives/guests of hostel inmates on chargeable basis.  Free twenty four hour internet and computational facilities are available in almost all hostels; it is getting extended to other hostels too.

Twenty four hour water and electricity (with DG power back up) is part of the all the hostels. Mini canteen,milma, amul kiosks, DTP centre, co-operative stores, Text book centre, are functioning in Students Amenity Centre.Two Power laundries are also functioning  in the hostels

The ladies hostel has the following facilities like ladies gym, stitching and tailoring centre, hostel library, fitness parlour,   indoor sports centre, DTP centre, Ice cream shop, extension of co-operative store. A night canteen and an amul kiosk also function in Ladies Hostel as well.

There are 11 messes serving food with wide varieties of menu, associated with men's hostels out of which, C mess is south Indian vegetarian and B mess is north Indian vegetarian and 4 messes in ladies hostel catering demands of students from all over India. All the students except first year boys are allowed to join any of the messes.   However, dining from any one of the messes within the hostel premises is compulsory for the inmates.Failing which lead to fine (an amount equivalent to 22 days mess charges).  Apart from the main messes, night messes are working which are operating up to midnight enabling students to take tiffin and snacks during their overnight studies.

 

To provide calm and favourable environment for the students, the inmates of hostels are strictly instructed to follow the code of conduct of NITC Hostels.
 </p>
      <hr>
      <h3>Test</h3>
      <p>Lorem ipsum...</p>