<% provide(:title, "Home") %>

<p>
    <marquee class="marq" bgcolor = "Yellow" direction = "left" loop="" > 
        <div class="geek1"> &ltWARNING&gt Website under construction. Proceed with CAUTION &ltWARNING&gt </div> 
    </marquee> 	
</p>
<div class="center jumbotron">
  <h1>Welcome to Inter-NIT Sports Portal</h1>

  <h2>
    This is the home page for the Inter-NIT Sports Portal.
  </h2>
  <%= link_to "Login Now!", login_path, class: "btn btn-lg btn-primary" %>
  
</div>